@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the default font for all elements */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Apply the background color to the entire page */
html, body {
  @apply bg-[#F5F7F8];
}

/* Ensure the main container also covers the full height */
#root {
  min-height: 100%;
}

/* banner area header text animation ! */
.flicker {
  font-family: 'Merienda', sans-serif;
  margin: 1rem auto;
  color: #ffffffaa;
  background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.9, #ffffff)) no-repeat;
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
  background-size: 100px;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 3s infinite;
}

@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@media screen and (max-width: 420px) {
  .flicker {
    font-size: 1.5rem;
    background-size: 30px;
    backdrop-filter: blur(10px);
  }
  
}